 .numbers{
    font-family: 'Oswald', sans-serif;
    background: #f7f7f7;
    justify-content: space-evenly;
    padding: 57px 130px 57px 130px;
    box-sizing: border-box;
    margin-top: -150px;
}
.numbers__box{
    text-align: center;
    color: #999999;
    width: 190px;
}
.projects__sector{
    font-family: 'Oswald', sans-serif;
    color: #404149;
    justify-content: space-between;
    margin-top: 100px;
}
.projects__title{
    font-size: 43px;
    text-align: center;
}
.projects__arena{
    width: 350px;
    height: 630px;
}
.arena__name{
    font-size: 24px;
    margin: 60px 0 30px 0;
    position: relative;
}
.arena__name::before{
    content: "";
    position: absolute;
    height: 6px;
    width: 55px;
    background: #F7654A;
    top: -20px;
    left: 0;
}
.red{
    color: red;
    font-size: 72px;
    font-weight: bold;
}
.arena__discription{
    font-size: 16px;
    color: #999999;
}