{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
     initial-scale=1.0">
     <link rel="stylesheet "type="text/css"href="{%static 'css/answers.css'%}">
    <link rel="stylesheet "type="text/css"href="{%static 'css/base.css'%}">
    <link rel="stylesheet "type="text/css"href="{%static 'css/contacts.css'%}">
    <link rel="stylesheet "type="text/css"href="{%static 'css/footer.css'%}">
    <link rel="stylesheet "type="text/css"href="{%static 'css/header.css'%}">
    <link rel="stylesheet "type="text/css"href="{%static 'css/index.css'%}">
    <link rel="stylesheet "type="text/css"href="{%static 'css/jobs.css'%}">
    <link rel="stylesheet "type="text/css"href="{%static 'css/media.css'%}">
    <link rel="stylesheet "type="text/css"href="{%static 'css/partners.css'%}">
    <link rel="stylesheet "type="text/css"href="{%static 'css/projects.css'%}">
    <link rel="stylesheet "type="text/css"href="{%static 'css/redline.css'%}">
    <link rel="stylesheet "type="text/css"href="{%static 'css/reviews.css'%}">
     <link
     href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Oswald:wght@500;700&display=swap"
     rel="stylesheet">
     <link rel="shortcut icon" href="./components/img/logo.svg" size="16x16" type="image/x-icon">
     <meta property="og:title" content="Seitek2002">
     <meta property="og:img" content="./components/img/head-bg.png">
     <link rel="stylesheet" href="./components/index.css">
    <title>Project-14</title>
</head>
<body>
{% for lan in blocks %}
    <section class="header">
        <div class="container">
        <div class="header__icons icons">
            <img src="./components/img/logo.svg" alt="" class="icons__logo">
            <img src="./components/img/menu-gamburger.svg" alt="" class="icons__menu">
    </div>
        <div class="header__title">
            <h1 class="bigwords">
                РЕАЛИЗУЕМ КРУПНЕЙШИЕ ПРОЕКТЫ В РОССИИ
            </h1>
            <h5 class="lilwords">
                стадионы, газопроводы, мосты, дамбы
            </h5>
        </div>
    </div>
    </section>
{% endfor %}
{% for lan in landings %}
    <section class="projects">
    <div class="container">
        <div class="numbers row">
            <div class="numbers__box">
                <p class="red">26</p> <p class="year">лет</p> на рынке
            </div>
            <div class="numbers__box">
                <p class="red">26</p> <p class="year">лет</p> на рынке
            </div>
            <div class="numbers__box">
                <p class="red">26</p> <p class="year">лет</p> на рынке
            </div>
            <div class="numbers__box">
                <p class="red">26</p> <p class="year">лет</p> на рынке
            </div>
        </div>
    </div>

        <div class="projects__sector">
            <div class="container">
            <h1 class="projects__title">
                <img src="{{lan.image.url}}">
                {{lan.text}}
            </h1>
            <div class="projects__sector row">
                <div class="projects__arena">
                    <img class="w-100" src="./components/img/arena.png" alt="">
                    <p class="arena__name">Газпром Арена</p>
                    <p class="arena__discription">
                        Мы сделали самую красивую арену в Европе.
                        Это открытие стало для нас прорывной точкой для разивтия на следующие десятилетия.
                        Мы очень рады данному еву.
                    </p>
                </div>
                <div class="projects__arena">
                    <img class="w-100" src="./components/img/arena.png" alt="">
                    <p class="arena__name">Газпром Арена</p>
                    <p class="arena__discription">
                        Мы сделали самую красивую арену в Европе.
                        Это открытие стало для нас прорывной точкой для разивтия на следующие десятилетия.
                        Мы очень рады данному еву.
                    </p>
                </div>
                <div class="projects__arena">
                    <img class="w-100" src="./components/img/arena.png" alt="">
                    <p class="arena__name">Газпром Арена</p>
                    <p class="arena__discription">
                        Мы сделали самую красивую арену в Европе.
                        Это открытие стало для нас прорывной точкой для разивтия на следующие десятилетия.
                        Мы очень рады данному еву.
                    </p>
                </div>
            </div>
        </div>
        </div>
    </section>
{% endfor %}
{% for block in blocks %}
    <section class="redline">
    <div class="container row space-btwn align-center">
        <h1 class="redline__title">
            САМЫЕ УМНЫЕ ПРОЕКТЫ
        <p class="redline__discription">
            РЕАЛИЗУЕМ САМЫЕ СМЕЛЫЕ РЕШЕНИЯ В РОССИИ!
        </p>
        </h1>

            <button class="request-btn">
                <img class="request__img"
                src="./components/img/mail.svg"
                alt="">
                ВАШ ЗАПРОС
            </button>
    </div>
    </section>
{% endfor %}
{% for blog in blocks %}
    <section class="jobs">
        <div class="container">
            <h1 class="jobs__title">
                ЧЕМ МЫ ЗАНИМАЕМСЯ?
            </h1>
            <div class="jobs__sector row">
            <div class="jobs__box">
                <div class="jobs__img">
                    <img class="jobs__factory" src="./components/img/jobs__img.svg" alt="">
                </div>
                <div class="jobs__discription">
                    СТРОИТЕЛЬСТВО ОФИСНЫХ ЗДАНИЙ
                </div>
            </div>
            <div class="jobs__box">
                <div class="jobs__img">
                    <img class="jobs__factory" src="./components/img/jobs__img.svg" alt="">
                </div>
                <div class="jobs__discription">
                    СТРОИТЕЛЬСТВО ОФИСНЫХ ЗДАНИЙ
                </div>
            </div>
            <div class="jobs__box">
                <div class="jobs__img">
                    <img class="jobs__factory" src="./components/img/jobs__img.svg" alt="">
                </div>
                <div class="jobs__discription">
                    СТРОИТЕЛЬСТВО ОФИСНЫХ ЗДАНИЙ
                </div>
            </div>
            <div class="jobs__box">
                <div class="jobs__img">
                    <img class="jobs__factory" src="./components/img/jobs__img.svg" alt="">
                </div>
                <div class="jobs__discription">
                    СТРОИТЕЛЬСТВО ОФИСНЫХ ЗДАНИЙ
                </div>
            </div>
            <div class="jobs__box">
                <div class="jobs__img">
                    <img class="jobs__factory" src="./components/img/jobs__img.svg" alt="">
                </div>
                <div class="jobs__discription">
                    СТРОИТЕЛЬСТВО ОФИСНЫХ ЗДАНИЙ
                </div>
            </div>
            <div class="jobs__box">
                <div class="jobs__img">
                    <img class="jobs__factory" src="./components/img/jobs__img.svg" alt="">
                </div>
                <div class="jobs__discription">
                    СТРОИТЕЛЬСТВО ОФИСНЫХ ЗДАНИЙ
                </div>
                </div>
            </div>
        </div>
    </section>
{% endfor %}
{% for blank in blocks %}
    <section class="portfolio">
        <img class="portfolio__img" src="./components/img/portfolio.png" alt="">
    </section>

    <section class="answers">
        <div class="container">
        <h1 class="answers__title">
            ОТВЕТЫ НА ВОПРОСЫ
        </h1>
        <div class="answers__dropdown">
                <div class="drop">
                <div class="up">
                    РАБОТАЕТЕ ЛИ ВЫ ПО 249 ФЗ?
                </div>
                <div class="down" id="dropmenu">
                    Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
                    Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                    В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов,
                    используя Lorem Ipsum для распечатки образцов.
                </div>
                </div>
                <div class="drop" id="drop">
                <div class="up" id="mouse">
                    РАБОТАЕТЕ ЛИ ВЫ ПО 249 ФЗ?
                </div>
                <div class="down" id="dropmenu">
                    Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
                    Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                    В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов,
                    используя Lorem Ipsum для распечатки образцов.
                </div>
                </div>
                    <div class="drop" id="drop">
                        <div class="up" id="mouse">
                            РАБОТАЕТЕ ЛИ ВЫ ПО 249 ФЗ?
                        </div>
                        <div class="down" id="dropmenu">
                            Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
                            Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                            В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов,
                            используя Lorem Ipsum для распечатки образцов.
                        </div>
                        </div>
                        <div class="drop" id="drop">
                <div class="up" id="mouse">
                    РАБОТАЕТЕ ЛИ ВЫ ПО 249 ФЗ?
                </div>
                <div class="down" id="dropmenu">
                    Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
                    Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                    В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов,
                    используя Lorem Ipsum для распечатки образцов.
                </div>
                </div>
        </div>
    </div>
    </section>
{% endfor %}
{% for ok in blocks %}
    <section class="partners">
        <div class="container">
            <h1 class="partners__title">
                НАШИ ПАРТНЕРЫ
            </h1>
            <div class="partners__img row">
                <img class="partners__svg" src="./components/img/partner.svg" alt="">
                <img class="partners__svg" src="./components/img/partner.svg" alt="">
                <img class="partners__svg" src="./components/img/partner.svg" alt="">
                <img class="partners__svg" src="./components/img/partner.svg" alt="">
                <img class="partners__svg" src="./components/img/partner.svg" alt="">
            </div>
        </div>
    </section>
{% endfor %}
{% for no in blocks %}
    <section class="reviews">
    <div class="container">
        <h1 class="reviews__title">
            ОТЗЫВЫ О РАБОТЕ С НАМИ
        </h1>
        <div class="reviews__sector row">
            <div class="reviews__box">
                <div class="box__content">
                    Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов.
                </div>
                <div class="review__author">
                    Иванов Иван, <span class="red-fonts">ООО “Газпром-Арена”</span>
                </div>
            </div>
            <div class="reviews__box">
                <div class="box__content">
                    Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов.
                </div>
                <div class="review__author">
                    Иванов Иван, <span class="red-fonts">ООО “Газпром-Арена”</span>
                </div>
            </div>
            <div class="reviews__box">
                <div class="box__content">
                    Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов.
                </div>
                <div class="review__author">
                    Иванов Иван, <span class="red-fonts">ООО “Газпром-Арена”</span>
                </div>
            </div>
        </div>
    </div>
    </section>
{% endfor %}
{% for set in blocks %}
    <section class="redline">
        <div class="container row space-btwn align-center">
            <h1 class="redline__title">
                ХОТИТЕ С НАМИ РАБОТАТЬ?
            <p class="redline__discription">
                ОСТАВЬТЕ ЗАЯВКУ И МЫ СВЯЖЕМСЯ С ВАМИ!
            </p>
            </h1>

                <button class="request-btn">
                    <img class="request__img"
                    src="./components/img/mail.svg"
                    alt="">
                    ВАШ ЗАПРОС
                </button>
        </div>
        </section>

        <section class="contacts">
            <h1 class="contacts__title">
                КОНТАКТЫ
            </h1>
            <div class="contacts__sector row">
                <div class="contacts__box">
                    <div class="contacts__img">
                        <img src="./components/img/address.svg" alt="">
                    </div>
                    <h3 class="contacts__content">
                        АДРЕСС:
                    </h3>
                    <div class="contacts__info">
                        НЕВСКИЙ ПРОСПЕКТ 140, ОФИС 140-142
                    </div>
                </div>
                <div class="contacts__box">
                    <div class="contacts__img">
                        <img src="./components/img/call.svg" alt="">
                    </div>
                    <h3 class="contacts__content">
                        ТЕЛЕФОН:
                    </h3>
                    <div class="contacts__info">
                        8 (812) 111-22-33 <br>
                        8 (812) 111-22-33
                    </div>
                </div>
                <div class="contacts__box">
                    <div class="contacts__img">
                        <img src="./components/img/time.svg" alt="">
                    </div>
                    <h3 class="contacts__content">
                        ВРЕМЯ РАБОТЫ:
                    </h3>
                    <div class="contacts__info">
                        ПН-СБ <br>
                        10:00 - 20:00
                    </div>
                </div>
                <div class="contacts__box">
                    <div class="contacts__img">
                        <img src="./components/img/contacts-mail.svg" alt="">
                    </div>
                    <h3 class="contacts__content">
                        E-MAIL:
                    </h3>
                    <div class="contacts__info">
                        <span class="mail-span">INFO@VIP.RU</span>
                    </div>
                </div>
            </div>
        </section>
{% endfor %}
        <footer class="footer">
            <div class="container row">
                <div class="words">
                    <div class="left">
                        © 2019 Строительная компания
                    </div>
                    <div class="right">
                        Разработано лучшей студей
                    </div>
                </div>
            </div>
        </footer>

        <script class="" src="./components/js/index.js"></script>
</body>
</html>